ItemName 
{Color : red;
Font-family : copperplate Gothic Light;
Font-size : 16pt;
Font :bold;
}
 ItemPrice  
{
color:yellow;
Font-family:Arial;
Font-size:12 pt;
Font:bold;

}
Quantity 
{
color:yellow;
Font-family:Arial;
Font-size:12 pt;
Font:bold;}


